.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0px 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
